<nav>
    <div class="container-fluid">
        <a href="/" id="homeLink">
            <img src="/_ui/images/vk.svg" alt="Logo" width="64" height="64" role="link" class="logo">
        </a>
    </div>
</nav>
